<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>com.sy.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>enc</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>	
	</filter-mapping>



	<!-- <filter>
		<filter-name>admin</filter-name>
		<filter-class>com.sy.filter.AdminFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>admin</filter-name>
		<url-pattern>/notice/noticeAdd</url-pattern>	
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>admin</filter-name>
		<url-pattern>/point/PointAdd</url-pattern>	
	</filter-mapping> -->
	
	


	<servlet>
		<servlet-name>notice</servlet-name>
		<servlet-class>com.sy.notice.NoticeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>notice</servlet-name>
		<url-pattern>/notice/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>member</servlet-name>
		<servlet-class>com.sy.member.MemberController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>member</servlet-name>
		<url-pattern>/member/*</url-pattern>
	</servlet-mapping>


	<servlet><!-- point이름을 갖는것을 아래 servlet으로 보낸다.  -->
		<servlet-name>point</servlet-name>
		<servlet-class>com.sy.point.PointController</servlet-class>
	</servlet>

	<servlet-mapping><!-- /point/*주소를 가진것은 point라는 이름을 갖는다. -->
		<servlet-name>point</servlet-name>
		<url-pattern>/point/*</url-pattern>
	</servlet-mapping>
	

	<servlet>
	<servlet-name>home</servlet-name>
	<servlet-class>com.sy.home.HomeController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>